/* Import website font */
@import url('https://stockfont.org/?73239a472fc05eed31bbd0f77e3666df91055258c88feb96921d0409afd548ad');

* {margin: 0; padding: 0;}

nav ul ul {overflow: hidden; position: absolute; display: block; background-color: #333; width: 200px; margin-left: 20px; max-height: 0px; -webkit-transition: max-height 0.5s; transition: max-height 1s;}

nav li:hover ul {  max-height: 500px;}
nav ul ul li {float: none; width: auto; }

html {font-family: 'Oxygen-Regular', times, verdana, sans-serif; }

body {background-color: #fff;}
header {background-color: #778baf
; color: white;

height: 200px;

}



nav {width: 100%; background-color: #333; overflow: auto;}
nav ul {width: 1000px; margin: auto; display: block; list-style-type: none;}
nav ul li {width: 25%; float: left; overflow: auto; text-align: center; }
nav a {color: white; padding-top: 10px; display: block; text-decoration: none;}

header section {  display: block;}

header h1 {font-weight: bold; font-style: italic;}


h1 { font-size:4em; color: white; text-align: center; padding-top: 20px; text-shadow: 2px 2px 2px #000;}

main {min-height: 50vh; background-color: #ddd; width: 70vw; display: block; margin: auto; box-shadow: 0px 0px 10px #888; color:#444;}

main h2 {font-size:2em; text-align: center;}
.home {padding: 5vw; width: 60vw;}

p, li, h2 {margin-bottom: 1em; }
ol {margin-left: 30px;}

pre {margin-top: 20px;}
code {background-color: #ccc;}
pre code {display: block;}

footer {background-color: #ccc;}

form {padding-top: 2em; margin-top: 2em; border-top: 1px solid #888;}
form select, form label, form input, form textarea {float: left; width: 200px; padding: 10px; margin-top: 20px;}
form label {clear: left;}
textarea {height: 100px;}
form input[type="text"], form input[type="password"], textarea {color: #999; font-family: verdana, sans-serif}
input[type="submit"] {clear: both; margin-left: 220px; width: 220px;}
#sea{
	width:100px;
	float: right;
	margin-left: 0px;
	margin-top: 5px;
	margin-right: 5px;
}
#se{
	float: right; width: 200px; padding: 10px; margin-top: 10px; margin-right: 5px;
}
section a {color: #444;}

form select {width: 220px;}
table {width: 100%; margin-top: 20px;}
td {padding: 5px; border-bottom: 1px solid #333;}

.jobs {list-style-type: none}
.jobs strong {width: 150px; float:  left; clear: left;}
.jobs p {width: 500px; float: left;}

.jobs li {padding-top: 20px; padding-bottom: 20px; border-bottom: 2px solid #aaa; overflow: auto}
.jobs a {float: right; clear: both;}

img.shop {width: 800px;}

.stock, .admin {display: table;}
.stock > ul, .admin .left { width: 10vw; list-style-type: none; display: table-cell; padding: 10px; background-color: #555; margin: 0;}

.stock .products, .admin .right {display: table-cell; padding: 20px;}

.stock > ul a, .admin .left a {color: white; text-decoration: none;}

table td input[type="submit"] {margin: 0; float: right; width: auto; padding: auto;}

ul {margin-left: 2em;}

body > img {display: block; width: 100%;}


main {display: table;}
main > article {display: table-cell; padding: 2em; }
main > nav {display: table-cell; width: 20%; padding: 2em;}
main > nav li {float: none; width: auto; text-align: left;}
main > nav ul {width: auto;}

#cform{background-color: #444;}
#cform h2{text-align: center; color: rgb(200, 154, 123); text-decoration: underline;}
#cform label{text-decoration: bold; text-color: yellow; text-shadow: 23 23 black;}
#tt{width: 90%; padding-bottom: 0%; margin-bottom: 0;}
#s{ padding-top: 0%; margin-top: 0;}
#sub{padding-top: 0%; margin-top: 0; display: inline-flex; flex-direction: row; width: 10%; margin-left: 0%;}
#sss{
	width: 15%;
	padding: none;
	background-color: rgb(250,100,100); 
	cursor: pointer;
	padding-left: 50%;
 padding: 12px 13px;
}
#sss:hover{
	background-color: grey;
	box-shadow: 2px 6px 4px purple;
}
article ul li{
	list-style: none;
}
#cs{
	padding-left: 40%;
	text-decoration:underline;
	text-shadow: 3px 4px 5px gray;
	font-family: cursive;
	font-size: 25px;
}